<!-- <input type="text" (keyup)="filterData($event.target.value)"> -->
<p-table [columns]="columns" [value]="filteredData">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.title}}
            </th>
            <th></th>
        </tr>
    </ng-template>  
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td (click)="selectItem(rowData)" *ngFor="let col of columns">
                <p *ngIf="isBool(rowData[col.field]) && rowData[col.field]">
                    <span class="p-badge p-badge-success"></span>
                </p> 
                <p *ngIf="isBool(rowData[col.field]) && !rowData[col.field]">
                    <span class="p-badge p-badge-danger"></span>
                </p>
                <p *ngIf="!isBool(rowData[col.field])">{{rowData[col.field]}}</p>
            </td>
            <!-- <td *ngIf="typeof(rowData[col.field]) === bool && rowData[col.field]">
                <span class="p-badge p-badge-success"></span>
            </td>
            <td *ngIf="typeof(rowData[col.field]) === bool && !rowData[col.field]">
                <span class="p-badge p-badge-danger"></span> 
            </td>-->

            <td><a href ="#" (click)="deleteItem(rowData)">Borrar</a></td>
        </tr>   
    </ng-template>
</p-table>