<!-- <input type="text" (keyup)="filterData($event.target.value)"> -->
<p-table [columns]="columns" [value]="filteredData">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.title}}
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td (click)="selectItem(rowData)" *ngFor="let col of columns">
                    {{rowData[col.field]}}
            </td>
            <td><a (click)="deleteItem(rowData)">Delete</a></td>
        </tr>   
    </ng-template>
</p-table>