<h2>Iniciar Sesion</h2>
<p *ngIf="error">{{errorMessage}}</p>
<form [formGroup]="form" (submit)="login()">
    <div>
        <input type="number" formControlName="username" placeholder="Usuario" pInputText />
    </div>
    <div>
        <input type="password" formControlName="password" placeholder="Password" pInputText />
    </div>
    <div>
        <!-- <button pButton type="button" label="Iniciar Sesion" class="p-button-success"></button> -->
        
    <button>Guardar</button>
    </div>
</form>

<span> no tienes cuenta? <a routerLink="../signup">Crea una aquí</a></span>