<h1>Listado de Productos</h1>
<span> <a routerLink="../products/create">Crear</a></span><br />
<div>    
    <div>
        Categorias: <p-dropdown [options]="categories" optionLabel="name" (onChange)="categorySelected($event)"></p-dropdown>
        Status: <p-dropdown [options]="statuses" optionLabel="name" (onChange)="statusSelected($event)"></p-dropdown>
        Desde: <p-calendar [(ngModel)]="start" [locale]="es" (onSelect)="dateSelected()"></p-calendar>
        Hasta: <p-calendar [(ngModel)]="end"[locale]="es" (onSelect)="dateSelected()"></p-calendar>
    </div>
</div>
<br />
<app-data-list *ngIf="filteredData" [data] ="filteredData" [columns]="columns" (onItemDelete)="handleProductDelete($event)" (onItemSelect)="handleProductSelect($event)"></app-data-list>