<h3>Datos del usuario:</h3>
    <!-- <p>El usuario seleccionado es</p>
    <p *ngIf="user" >{{user.id}}</p> -->


<form [formGroup]="form" (submit)="saveUser()">
    <input hidden type="text" name="identifier" formControlName="id">
    <div>
        <input type="text" name="nombre" placeholder="Nombre" formControlName="firstName">
        <span *ngIf="form.controls.firstName.errors && form.controls.firstName.dirty">
            {{getErrorMessage('required')}}
        </span>
    </div>
    <div>
        <input type="text" name="nombreusuario" placeholder="Apellido" formControlName="lastName">
        <span *ngIf="form.controls.lastName.errors && form.controls.lastName.dirty">
            {{form.controls.lastName.errors.required ?  getErrorMessage('required') : getErrorMessage('minLength')}}
        </span>
    </div>
    <div>
        <input type="email" name="correo"  placeholder="Email" formControlName="email">
        <span *ngIf="form.controls.email.errors && form.controls.email.dirty">
            {{form.controls.email.errors.required ? getErrorMessage('required') : getErrorMessage('email')}}
        </span>
    </div>
    <div>
        <input type="phone" name="telefono" placeholder="Teléfono" formControlName="phone">
        <span *ngIf="form.controls.phone.errors && form.controls.phone.dirty">
            {{form.controls.phone.errors.required ? getErrorMessage('required') : getErrorMessage('phone')}}
        </span>
    </div>
    <div>
        <input type="address" name="direccion" placeholder="Dirección" formControlName="address">
        <span *ngIf="form.controls.address.errors && form.controls.address.dirty">
            {{form.controls.address.errors.required ? getErrorMessage('required') : getErrorMessage('address')}}
        </span>
    </div>

    <button [disabled]="form.invalid" >Guardar</button>
</form>
<div *ngIf="user.products">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of user.products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
<p *ngIf="isLoading">Cargando...</p>

<button (click) = "goBack()">Regresar</button>