<!-- <h1>Datos del usuario:</h1> -->
<!-- <p>El usuario seleccionado es</p>
    <p *ngIf="user" >{{user.id}}</p> -->
    
<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
<p-panel header="Datos del usuario" [toggleable]="true">
    <form [formGroup]="form" (submit)="saveUser()">
        <!-- <p>{{form.valid}}</p> -->
        <!-- <input hidden type="text" name="identifier" formControlName="id"> -->
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-8 p-md-1">
                <label>Nombre:</label><br />
                <input pInputText type="text" name="nombre" placeholder="Nombre" formControlName="firstName">
                <span *ngIf="form.controls.firstName.errors && form.controls.firstName.dirty">
                    {{getErrorMessage('required')}}
                </span>
            </div>

            <div class="p-field p-col-8 p-md-1">
                <label>Apellido:</label><br />
                <input pInputText type="text" name="nombreusuario" placeholder="Apellido" formControlName="lastName">
                <span *ngIf="form.controls.lastName.errors && form.controls.lastName.dirty">
                    {{form.controls.lastName.errors.required ?  getErrorMessage('required') : getErrorMessage('minLength')}}
                </span>
            </div>

            <div class="p-field p-col-8 p-md-2">
                <label>Email:</label><br />
                <input pInputText type="email" name="correo" placeholder="Email" formControlName="email">
                <span *ngIf="form.controls.email.errors && form.controls.email.dirty">
                    {{form.controls.email.errors.required ? getErrorMessage('required') : getErrorMessage('email')}}
                </span>
            </div>

            <div class="p-field p-col-8 p-md-2">
                <label>Teléfono:</label><br />
                <input pInputText type="phone" name="telefono" placeholder="Teléfono" formControlName="phone">
                <span *ngIf="form.controls.phone.errors && form.controls.phone.dirty">
                    {{form.controls.phone.errors.required ? getErrorMessage('required') : getErrorMessage('phone')}}
                </span>
            </div>

            <div class="p-field p-col-8 p-md-2">
                <label>Dirección:</label><br />
                <input pInputText type="address" name="direccion" placeholder="Dirección" formControlName="address">
                <span *ngIf="form.controls.address.errors && form.controls.address.dirty">
                    {{form.controls.address.errors.required ? getErrorMessage('required') : getErrorMessage('address')}}
                </span>
            </div>
            <div class="p-field p-col-8 p-md-2">
                <div class="p-text-right"></div>
                <label style="visibility:hidden">Dirección:</label><br />
                <button pButton type="button" label="Guardar" class="p-button-success" (click)="saveUser()" [disabled]="form.invalid"></button>
                <!-- <button pButton type="button" label="Regresar" class="p-button-secondary" (click)="goBack()"></button> -->
            </div>
            <div class="p-field p-col-8 p-md-2">
                <div class="p-text-right"></div>
                <label style="visibility:hidden">Dirección:</label><br />
                <!-- <button pButton type="button" label="Guardar" class="p-button-success" [disabled]="form.invalid"></button> -->
                <button pButton type="button" label="Regresar" class="p-button-secondary" (click)="goBack()"></button>
            </div>
        </div>
    </form>
</p-panel>
<p-panel *ngIf="user.firstName" header="Balance" [toggleable]="true">
    {{user.firstName}} cuenta con: <span class="p-badge p-badge-xl p-badge-warning">${{user.balance}}</span>     
    
    <button pButton [disabled]="!user.balance || user.balance < 0" type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Retirar"></button>
</p-panel>

<div *ngIf="!isLoading">
    <p-panel header="Productos" [toggleable]="true">
    <p-table [value]="user.products">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Ganancia</th>
                <th>Usuario</th>
                <th>Donación</th>
                <th>Fecha de Creación</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>{{rowData.name}}</td>
                <td>{{rowData.description}}</td>
                <td>{{rowData.price}}</td>
                <td>{{rowData.profit}}</td>
                <td>{{rowData.userProfit}}</td>
                <td>{{rowData.donation}}</td>
                <td>{{rowData.createdAtFormated}}</td>
                <td>{{rowData.statusName}}</td>
                <!-- <td>{{rowData.}}</td> -->
            </tr>
        </ng-template>
    </p-table>
</p-panel>
</div>
<p *ngIf="isLoading">Cargando...</p>

<p-dialog header="Retiro de Efectivo" [(visible)]="display" [style]="{height: '23vw'}">
    <!-- <label>Tipo de Cuenta:</label>    
    <div>
        <p-dropdown appendTo="body" [options]="accountTypes" [(ngModel)]="selectedAccountType"></p-dropdown>
    </div>
    <label>Número:</label>    
    <div>
        <input pInputText type="text" name="cuenta" placeholder="63619..." [(ngModel)]="enteredAccount">
    </div>
    <label>Monto a Retirar:</label>    
    <div>
        <input pInputText type="text" name="cuenta" placeholder="$" [(ngModel)]="quantityToWithdraw">
    </div>
    <p-footer>
        <button pButton type="button" label="Solicitar Retiro" class="p-button-success" (click)="withdraw()" [disabled]="user.balance < quantityToWithdraw"></button>
    </p-footer> -->
    <form action="" method="POST" id="card-form">
        <span class="card-errors"></span>
        <div>
          <label>
            <span>Cardholder name</span>
            <input size="20" data-conekta="card[name]" type="text">
          </label>
        </div>
        <div>
          <label>
            <span>Card number</span>
            <input size="20" data-conekta="card[number]" type="text">
          </label>
        </div>
        <div>
          <label>
            <span>CVC</span>
            <input size="4" data-conekta="card[cvc]" type="text">
          </label>
        </div>
        <div>
          <label>
            <span>Expiration date (MM/YYYY)</span>
            <input size="2" data-conekta="card[exp_month]" type="text">
          </label>
          <span>/</span>
          <input size="4" data-conekta="card[exp_year]" type="text">
        </div>
        <button (click)="withdraw()" type="submit">Create token</button>
      </form>
      
</p-dialog>
