<h3>Product:</h3>
    <!-- <p>El usuario seleccionado es</p>-->
    <!-- <p *ngIf="product" >{{product.id}}</p>  -->


<form [formGroup]="form" (submit)="saveProduct()">
    <!-- <p> es valido? {{form.valid}}</p> -->
    <!-- <input hidden type="text" name="identifier" formControlName="id" /> -->
    <!-- <div> -->
    <div>
        <input type="text" name="nombre" formControlName="name" pInputText/> 
        <span *ngIf="form.controls.name.errors && form.controls.name.dirty">
            {{getErrorMessage('required')}}
        </span>
    </div>
    <div>
        <input type="text" name="descriptionName" formControlName="description" pInputText/>
    </div>
    <div>
        <input type="text" name="price" formControlName="price" pInputText/> 
        <span *ngIf="form.controls.price.errors && form.controls.price.dirty">
            {{getErrorMessage('required')}}
        </span>
    </div>
    <div>
        <p-dropdown [options]="categories" formControlName="categoryID" optionLabel="name"></p-dropdown>
    </div>

    <div>
        <p-dropdown [options]="sizes" formControlName="sizeID" optionLabel="name"></p-dropdown>
    </div>

    <div>
        <p-dropdown [options]="classifications" formControlName="classificationID" optionLabel="name"></p-dropdown>
    </div>

    <div>
        <p-dropdown [options]="users" formControlName="userID" optionLabel="email"></p-dropdown>
    </div>
 
    <button [disabled]="form.invalid" >Guardar</button>
</form>
<p *ngIf="isLoading">Cargando...</p>

<button (click) = "goBack()">Regresar</button>