<h3>Producto:</h3>
<form [formGroup]="form" (submit)="saveProduct()">
    <div class="p-grid">
        <div class="p-col-6">
            <div>
                <input type="text" name="nombre" formControlName="name" placeholder="Nombre" pInputText />
                <span *ngIf="form.controls.name.errors && form.controls.name.dirty">
                    {{getErrorMessage('required')}}
                </span>
            </div>
            <div>
                <input type="text" name="descriptionName" formControlName="description" placeholder="Descripcion"
                    pInputText />
            </div>
            <div>
                <input type="text" name="price" formControlName="price" placeholder="Precio: $0.0" pInputText />
                <span *ngIf="form.controls.price.errors && form.controls.price.dirty">
                    {{getErrorMessage('required')}}
                </span>
            </div>
            <div>
                <p-dropdown [options]="categories" [autoZIndex]="true" formControlName="categoryID" optionLabel="name">
                </p-dropdown>
            </div>

            <div>
                <p-dropdown [options]="sizes" [autoZIndex]="true" formControlName="sizeID" optionLabel="name">
                </p-dropdown>
            </div>

            <div>
                <p-dropdown [options]="classifications" [autoZIndex]="true" formControlName="classificationID"
                    optionLabel="name">
                </p-dropdown>
            </div>

            <div>
                <p-dropdown [options]="statuses" [autoZIndex]="true" formControlName="statusID"
                    optionLabel="name">
                </p-dropdown>
            </div>

            <div>
                <p-dropdown [options]="users" [autoZIndex]="true" formControlName="userID" optionLabel="email">
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-6">
            <div *ngIf="product">
                <!-- <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="loadImages($event)" multiple="multiple">
            </p-fileUpload> -->
                <input type="file" (change)="selectedImages($event)" multiple>
                <div *ngFor="let image of images">
                    <img [src]="image" alt="" width="100px" height="100px">
                </div>
                <button type="button" (click)="uploadImages()">Cargar</button>
            </div>
        </div>

        <button [disabled]="form.invalid">Guardar</button>
        <button (click)="goBack()">Regresar</button>
    </div>
</form>

<p *ngIf="isLoading">Cargando...</p>