<mat-toolbar>
    <mat-toolbar-row>
      <!-- <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button> -->
      <h2>Charó</h2>
      <div class="menu-elements">
        <a class="menu-option" mat-button [routerLink]="'/products'"> | Productos </a>
        <a class="menu-option" mat-button [routerLink]="'/users'"> | Usuarios </a>
        <a class="menu-option" mat-button [routerLink]="'/categories'"> | Categorías </a>
        <a class="menu-option" mat-button [routerLink]="'/statuses'"> | Estatus </a>
        <a class="menu-option" mat-button [routerLink]="'/products/shop'"> | Tienda </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>